{% extends 'back/layout_back.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <a class="btn btn-success" href="{{ path('app_back_user_new') }}">nouvel utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Courriel</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_back_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_back_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
